<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <ul class="nav nav-pills">
      {{#each model as |contact|}}
        <li role="presentation">
          {{#link-to 'contacts.contact' contact}}
            {{contact.nameFirst}} {{contact.nameLast}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-7">
    {{outlet}}
  </div>
</div>
