<div class="row-fluid">
  <div class="col-md-3">
    {{link-to 'Add New' 'contacts.new' class='btn btn-primary'}}
    <ul class="nav nav-pills nav-stacked">
      {{#each model as |contact|}}
        <li role="presentation">
          {{#link-to 'contacts.contact' contact}}
            {{contact.nameFirst}} {{contact.nameLast}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    {{outlet}}
  </div>
</div>
